<div class="card mt-5">
    <h5 class="card-header">{{ title }}</h5>
    <div class="card-body">
        <a href="#!/add-student" class="float-end">
            <button class="btn btn-success">+ Thêm sinh viên</button>
        </a>
        <table class="table">
            <thead>
                <th>STT</th>
                <th>Họ và tên</th>
                <th>Năm sinh</th>
                <th>Chuyên ngành</th>
                <th>Thao tác</th>
            </thead>
            <tbody>
                <tr ng-repeat="item in listStudents">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ item.ten }}</td>
                    <td>{{ item.namsinh }}</td>
                    <td>{{ item.chuyennganh }}</td>
                    <td>
                        <a href="#!/detail-student/{{ item.id }}">
                            <button class="btn btn-warning">Chi tiết</button>
                        </a>
                        <button ng-click="deleteStudent(item.id)" class="btn btn-danger">Xóa</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>